<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employee-list">Employees list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employee-create">Employee Form</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class=".text-primary py-4 my-3 border">
  <div class="text-left">
    &copy; MyApp
    <span class=".text-primary align-middle" style='float: right'>2022</span>
  </div>
</footer>


