<h3 class="text-decoration-underline .bg-light">Employee list</h3>

<div *ngIf="data$ | async as data; else empty">
<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Salary</th>
      <th>Age</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of data" routerLink="/employee-details/{{employee.id}}">
      <td><a class="link-dark" routerLink="/employee-details/{{employee.id}}">{{employee.id}}</a></td>
      <td>{{employee.name}}</td>
      <td>{{employee.surname}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.age}}</td>
      <td><img src="{{employee.image}}" alt="image"/> </td>
      <td><button (click)="remove(employee.id)" class="btn btn-outline-danger">Remove</button></td>
    </tr>
  </tbody>
</table>
</div>

<ng-template #empty> There is no data</ng-template>
